.overview-item {
  margin: auto;
  width: 500px;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: light-dark(lavenderblush, teal);
}

.overview-item > button {
  background-color: light-dark(lightpink, cadetblue);
}
