.editcard {
  width: 30%;
  height: 200px;
  text-align: center;
  border-radius: 8px;
  margin: auto;
  margin-bottom: 10px;
  padding: 20px;
  background-color: light-dark(lavenderblush, teal);
  transition: 0.8s;
  transform-style: preserve-3d;
  list-style: none;
  font-size: 18px;
}

.edit-card-input {
  width: 80%;
  background-color: light-dark(lightpink, cadetblue);
}

.editcard-button {
  margin: 50px;
  background-color: light-dark(lightpink, cadetblue);
}
