:root {
  color-scheme: light dark;
}

#title {
  text-align: center;
  font-size: 40px;
  text-shadow: 0.5px 0.5px 3px light-dark(lavenderblush, teal);
}

h2 {
  text-align: center;
  font-size: 30px;
  text-shadow: 0.5px 0.5px 3px light-dark(lavenderblush, teal);
}

#home-link {
  position: fixed;
  left: 20px;
  top: 20px;
  font-size: 20px;
}

#create-quiz-link {
  position: fixed;
  left: 100px;
  top: 20px;
  font-size: 20px;
}

body {
  background-color: light-dark(lightpink, cadetblue);
  color: light-dark(black, white);
}

button,
input {
  background-color: light-dark(lavenderblush, teal);
  border-radius: 4px;
  padding: 10px;
  margin: 5px 5px;
  font-size: 18px;
}

button {
  cursor: pointer;
}

.error {
  color: red;
}

.main-div {
  margin: auto;
  width: 90%;
  text-align: center;
  font-size: 18px;
}

li {
  list-style: none;
}
